html {
    background-color: rgb(230, 218, 200);
} 
body {
    background-color: #f8f8f8;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
}
/* СТРУКТУРА */
.flex-container-column {
    display: flex;
    flex-flow: column nowrap;
}
.flex-container-row {
    display: flex;
    flex-flow: row nowrap;
}
.flex-item-row, .flex-item-row-Menu-item {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-item-column {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#idLogo { /* ??? не выравнивается по центру картинка ??? */
    display: inline-block;
    order: -1;
    flex-basis: auto;
    width: 80px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-left: 10px;
    margin-right: 20px;
 }
 #idFlexBox-Logo-Menu-container {
    height: 120px;
 }
 #idFlexBox-Menu-container {
    justify-content: flex-end; 
    flex-grow: 1; 
    padding-bottom: 15px; 
    padding-left: 15px;
 }
 #idFlexBox-MenuBox--1 {
    background-color:rgba(66, 33, 33, 0.95);
    justify-content: flex-end;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
 }
 .flex-item-row-Menu-item {
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    color: rgb(230, 218, 200);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 1px;
 }
.flex-item-row-Menu-item a {
    text-decoration: none;
    font-style: normal;
    color: rgb(230, 218, 200);
 }
.flex-item-row-Menu-item :hover {
    color:  #4d2525;
    background-color:  #ffcfcf;
}
.flex-item-row-Menu-item :active {
    color:  #4d2525;
    background-color:  white;
}
#idPath-Line {
    align-items: center;
    color:rgba(200, 200, 200, 1.0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
    font-weight: normal;
    letter-spacing: 0.3em;
    padding-left: 24px;
    background-color: rgba(255, 255, 255, 0.0);
    height: 20px;
    margin-top: auto;
    margin-bottom: 12px;
}
#idPath-Line a, #idPath-Line span {
    text-decoration: none;
    font-style: normal;
}
#idHeader {
    background-image: url("../img/topHeader_coffee-beans.jpg");
    background-repeat: no-repeat;
    height: 180px;   
}

main {
    margin-left: 20px;
    margin-right: 20px;
}
footer {
    display: flex;
    order: 10;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-top: black;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-width: 1px;
    border-style: solid;
    background-color:rgba(66, 33, 33, 1.0);
}
footer div, a  {
    padding: 0px;
    color: rgb(150, 130, 100);
    text-decoration: none;
}

/*
    ЗАГОЛОВКИ
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}
h1 {
    color: rgb(94, 3, 3);
} 
h2, h3, h4, h5, h6 {
    color: black;
}
h3{
    font-size: 18 px;
    font-weight: 400;
    background-color: #eaeaea;
}

/*
    БЛОКИ
*/

p.info{
    line-height: 1.4em;
}

.difinition-brief{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.difinition-brief:first-letter,.description-detailed:first-letter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-style: bold;
    color: tomato;
}
.description-detailed{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.description-parameters {
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.description-parameters li mark{
    background-color: inherit;
    font-style: italic;
    letter-spacing: 0.4px;
/*    font-weight: 500; */
}

table.description-parameter-table{
    border-collapse: separate;
    border-width: 2px;
    border-style: solid;
    border-color: maroon;
    border-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
}
table.description-parameter-table tr:nth-child(2n+2){
    background-color: rgb(240,240,240);
}
table.description-parameter-table th{
    background-color: maroon;
    color: sandybrown;
    font-style: normal;
    font-weight: normal;
    height: 55px;
}

table.description-parameter-table td{
    padding-left: 5px;
    padding-right: 5px;
}


ul.coffee-beans-list {
    line-height: 1.4em;
    font-size: 16px;
    list-style-image: url(../img/coffee-mark.png);
}
.main-picture {
    outline-color: silver;
    outline-width: 2px;
    outline-style: solid;
    width: 960px; 
}
.main-picture:hover {
    outline-color: transparent;
}
.field-help-text {
    font-style: italic;
    font-size: 14px;
    font-kerning: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 0.1em;
}
.field-help-text:focus {
    background-color: cornsilk;
}
input[type="email"].field-help-text:focus {
    color: red;
}
.field-help-text:valid {
    background-color: white;
}
.field-help-text:invalid {
    background-color:;
}
.field-help-text:disabled {
    background-color: white;
}
textarea.field-help-text {
    padding: 0.3em;
}
textarea.field-help-text:focus {
    background-color: cornsilk;
}
