

h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(94, 3, 3)
} 


